@using Recipes.Common
@model Recipes.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Начална страница";
}
@section Styles{
    <link href="~/css/HighChartDemo/index.css" rel="stylesheet" />
}

<div class="text-center">
    <h1 class="display-4">Добре дошли в сайта за рецепти.</h1>
    <div class="col-md-4 offset-md-4">
        <p>При нас има:</p>
        <ul class="list-group">
            <li class="list-group-item bg-info">Рецепти: @Model.RecepiesCount</li>
            <li class="list-group-item bg-light">Категории: @Model.CategoriesCount</li>
            <li class="list-group-item bg-info">Снимки: @Model.ImagesCount</li>
            <li class="list-group-item bg-light">Съставки: @Model.IngredientsCount</li>
        </ul>
    </div>
</div>

@*<div class='buttons'>
    <button id='2000'>
        2000
    </button>
    <button id='2004'>
        2004
    </button>
    <button id='2008'>
        2008
    </button>
    <button id='2012'>
        2012
    </button>
    <button id='2016' class='active'>
        2016
    </button>
</div>
<div id="container"></div>

@section Scripts {
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="~/js/HighChartDemo/index.js"></script>
}*@