@model Recipes.Web.ViewModels.Recipes.EditRecipeInputModel

@{
    ViewData["Title"] = "Редактиране на рецепта";
    var categoryItems = this.Model.CategoriesItems.Select(x => new SelectListItem(x.Value, x.Key));
}

<h2>@ViewData["Title"]</h2>
<hr />

<form class="col-md-7" method="post" id="editForm">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Instructions"></label>
        <textarea rows="5" asp-for="Instructions" class="form-control"></textarea>
        <span asp-validation-for="Instructions" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CookingTime"></label>
        <input asp-for="CookingTime" class="form-control" />
        <span asp-validation-for="CookingTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PreparationTime"></label>
        <input asp-for="PreparationTime" class="form-control" />
        <span asp-validation-for="PreparationTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PortionCount"></label>
        <input asp-for="PortionCount" class="form-control" />
        <span asp-validation-for="PortionCount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId"></label>
        <select class="form-control" asp-for="CategoryId" asp-items="categoryItems"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="Id" />

</form>

<button data-toggle="modal" data-target="#modelEdit" type="submit" class="btn btn-success">Запиши промените</button>
@* За да се ползва модалния прозорец, бутона на формата, трябва да бъде извън формата, а долу в Modal казваме onclick="editForm.submit()", като преди това сме дали id на формата.*@

<!-- Modal -->
<div class="modal fade" id="modelEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Моля, потвърдете редакцията</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Рецептата "@Model.Name" ще бъде редактирана. Моля потвърдете въвеждането на промените.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Затваряне</button>
                <button type="button" class="btn btn-primary" onclick="editForm.submit()">Потвърждавам</button>
            </div>
        </div>
    </div>
</div>